body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100vh;
    width: 100%;
}

/* Optional styling for the popup */
.leaflet-popup-content-wrapper {
    font-family: Arial, sans-serif;
    border-radius: 8px;
}